@model CSharpSecaoDezoito.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="alert alert-dismissible alert-danger">
<h2 class="text-danger"><img src="https://img.icons8.com/color/48/000000/c-sharp-logo-2.png"/>@ViewData["Title"]</h2>
<h2 class="text-danger">
    <img src="https://img.icons8.com/cute-clipart/64/000000/fraud.png"/>
        @Model.Message
    <img src="https://img.icons8.com/dusk/64/000000/hacking.png"/>
</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong><img src="https://img.icons8.com/dusk/64/000000/hacker.png"/>Request ID:</strong> <code>@Model.RequestId</code><img src="https://img.icons8.com/dusk/64/000000/spyware-free.png"/>
    </p>
}
    <div>
        <a class="btn btn-success" asp-action="Index">Back to List</a>
    </div>
</div>

