@model IEnumerable<IGrouping<Department, SalesRecord>>

@{
    ViewData["Title"] = "Grouping Search";
}

<h2><img src="https://img.icons8.com/color/48/000000/c-sharp-logo-2.png"/>@ViewData["Title"]</h2>

