@model CSharpSecaoDezoito.Models.Department

@{
    ViewData["Title"] = "Departments Create";
}

<h2><img src="https://img.icons8.com/color/48/000000/c-sharp-logo-2.png"/>Create</h2>

<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
    <div class="card-body">   
        <h4>Department</h4>
        <hr />
        <div class="row">
            <div class="col-md-4" style="max-width: 300px">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="btn btn-info disabled" asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" style="width: 200px" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-info" type="submit" value="Create" class="btn btn-default" />
                    </div>            
                </form>
            </div>
        </div>
        <div>
             <a class="btn btn-success" asp-action="Index">Back to List</a>
        </div>
    </div>    
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}